<%- include('../partials/mangaHeader'); %>
    <title>All Manga | Kenhie</title>
<%- include('../partials/mangaStyles'); %>
<%- include('../partials/mangaNav'); %>
      <h1>All Manga</h1>
      <ul>
        <% for(let title of titles) { %>
        <li><a href="/mangas/<%= title.id %>"><%= title.title %></a></li>
        <% } %>
      </ul>
      <%- include('../partials/footer'); %>

