<%- include('../partials/header'); %>
    <title>All Manga | Kenhie</title>
<%- include('../partials/styles'); %>
<%- include('../partials/nav'); %>
      <h1>All Manga</h1>
      <ul>
        <% for(let title of titles) { %>
        <li><a href="/mangas/<%= title.id %>"><%= title.englishTitle %></a></li>
        <% } %>
      </ul>
<%- include('../partials/footer'); %>