<%- include('../partials/header'); %>
<title>Adding Manga | Kenhie</title>
<%- include('../partials/styles'); %> 
<%- include('../partials/nav'); %>
  <div class="container">
    <h2 class="pageTitle mb-3">Add New Manga</h1>
  </div>
  <form action="/mangas" method="post" id="newManga">
    <div class="container">
      <div class="row g-3">
        <div class="col-md-4">
          <label for="englishTitle" class="form-label">English Title of Manga*</label>
          <input class="form-control mb-3" type="text" name="englishTitle" id="englishTitle" placeholder="eg: One Piece" required="true">
        </div>
        <div class="japaneseText col-md-4">
          <label for="japaneseTitle" class="form-label">Japanese Title of Manga*</label>
          <input class="form-control mb-3" type="text" name="japaneseTitle" id="japaneseTitle" placeholder="eg: ワンピース" required="true">
        </div>
        <div class="col-md-4">
          <label for="romanjiTitle" class="form-label">Romanji Title of Manga*</label>
          <input class="form-control mb-3" type="text" name="romanjiTitle" id="englishTitle" placeholder="Wan Pisu" required="true">
        </div>
        <div class="col-md-4">
          <label for="publicRating" class="form-label">Public Rating:*</label>
          <input class="form-control mb-3" type="number" name="publicRating" id="publicRating" placeholder="9.21" min="1" max="10" step="any" required="true"><br>
        </div>
        <div class="col-md-4">
          <label for="personalRating" class="form-label">Personal Rating:*</label>
          <input class="form-control mb-3" type="number" name="personalRating" id="personalRating" placeholder="9.5" min="1" max="10" step="any" required="true"><br>
        </div>
        <div class="col-md-4">
          <label for="volumeCount" class="form-label">Volume Count:*</label>
          <input class="form-control mb-3" type="number" name="volumeCount" id="volumeCount" placeholder="105" min="1" max="300"required="true"><br>
        </div>        
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <label for="authorStory" class="form-label">Mangaka(Author/Artist)*</label>
          <input class="form-control mb-3" type="text" name="authorStory" id="authorStory" placeholder="eg: Eiichiro Oda " required="true">
        </div>
        <div class="col-md-3">
          <label for="authorArtist" class="form-label">Mangaka(Artist if apply)</label>
          <input class="form-control mb-3" type="text" name="authorArtist" id="authorArtist" placeholder="">
        </div>
        <div class="col-md-3">
          <label for="releaseDate" class="form-label">Manga Released*</label>
          <input class="form-control mb-3" type="text" name="releaseDate" id="releaseDate" placeholder="eg: July 22, 1997" required="true">
        </div>
        <div class="col-md-3">
          <label for="finishedDate" class="form-label">Manga Finished(If apply)</label>
          <input class="form-control mb-3" type="text" name="finishedDate" id="finishedDate" placeholder="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <label for="description" class="form-label">Description*</label>
          <textarea class="form-control mb-3" name="description" id="description" rows="7" placeholder='Gol D. Roger, a man referred to as the "Pirate King," is set to be executed by the World Government. But just before his demise, he confirms the existence of a great treasure, One Piece, located somewhere within the vast ocean known as the Grand Line. Announcing that One Piece can be claimed by anyone worthy enough to reach it, the Pirate King is executed and the Great Age of Pirates begins.

          Twenty-two years later, a young man by the name of Monkey D. Luffy is ready to embark on his own adventure, searching for One Piece and striving to become the new Pirate King. Armed with just a straw hat, a small boat, and an elastic body, he sets out on a fantastic journey to gather his own crew and a worthy ship that will take them across the Grand Line to claim the greatest status on the high seas.'
          ></textarea>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-3 align-items-start">
        <div class="col-sm-6 btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
          <div class="col-12">
          <legend class="mb-2">Genre: (Select all that apply)*</legend>
            <% for (let i = 0; i < genre.length; i++) { %>
              <input type="checkbox" class="btn-check" id="<%= genre[i] %>" name="genre" value="<%= genre[i] %>">
              <label class="btn btn-outline-primary btnList mb-2" for="<%= genre[i] %>"><%= genre[i] %></label>
            <% } %>
          <legend class="mb-2">Demographic: (Select all that apply)*</legend>
            <% for (let i = 0; i < demographic.length; i++) { %>
              <input type="checkbox" class="btn-check" id="<%= demographic[i] %>" name="genre" value="<%= demographic[i] %>">
              <label class="btn btn-outline-primary btnList mb-2" for="<%= demographic[i] %>"><%= demographic[i] %></label>
            <% } %>
          <legend>Is the series finished?*</legend><br>
            <input type="radio" class="btn-check" name="completion" id="btnradio2" value="false" autocomplete="off" checked>
            <label class="btn btn-outline-danger btn-lg" for="btnradio2">No</label>
    
            <input type="radio" class="btn-check" name="completion" id="btnradio1" value="true" autocomplete="off">
            <label class="btn btn-outline-success btn-lg" for="btnradio1">Yes</label>

          <legend class="mb-2">Upload an image*</legend>
          <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <div class="custom-file mb-3">
              <input type="file" name="file" id="file" class="custom-file-input">
              <label for="file" class="custom-file-label"></label>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </form>
          </div>
        </div>
        <div class="col-sm-6 btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
          <div class="col-12">
          <legend>Theme: (Select all that apply)*</legend>
            <% for (let i = 0; i < theme.length; i++) { %>
              <input type="checkbox" class="btn-check" id="<%= theme[i] %>" name="genre" value="<%= theme[i] %>">
              <label class="btn btn-outline-primary btnList mb-2" for="<%= theme[i] %>"><%= theme[i] %></label>
            <% } %>
          </div>
        </div>
      </div>
    </div> 
    <div id="btnSubmit" class="text-center">
      <button class="btn btn-outline-success">Submit</button>
      <a class="btn btn-outline-danger" href="/mangas">Cancel</a>
    </div>
  </form>
</div>
<%- include('../partials/footer'); %>