<%- include('../partials/header'); %>
<title>Updating <%= manga.title %> | Kenhie</title>
<%- include('../partials/styles'); %> 
<%- include('../partials/nav'); %>
<h1>Update <%= manga.title %></h1>
<form action="/mangas" method="post">
  <div>
    <label for="title">Title of Manga:</label>
    <input type="text" name="title" placeholder="<%= manga.title %>" id="title" required="true"><br />
  </div>
  <div>
    <label for="publicRating">Public Rating:</label>
    <input type="number" name="publicRating" id="publicRating" placeholder="<%= manga.publicRating %>" min="1" max="10" step="any" required="true"/><br />
  </div>
  <div>
    <label for="personalRating">Personal Rating:</label>
    <input type="number" name="personalRating" id="personalRating" placeholder="<%= manga.personalRating %>" min="1" max="10" step="any" required="true"/><br />
  </div>
  <div>
    <label for="volumeCount">Volume Count:</label>
    <input type="number" name="volumeCount" id="volumeCount" placeholder="<%= manga.volumeCount %>" min="1" max="200" /><br required="true"/>
  </div>
  <legend>Genre:(Apply as many)</legend>
  <!-- <script>
    $("input:checkbox").click(function() {
      var bol = $("input:checkbox:checked").length >= 3;     
      $("input:checkbox").not(":checked").attr("disabled",bol);
      });
  </script> -->
  <script>
    var limit = 3;
    $('input.checkbox').on('change', function(genre) {
      if($(this).siblings(':checked').length >= limit) {
      this.checked = false;
      }
    });
  </script>
  <section class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="action" name="genre" value="Action" />
    <label class="btn btn-outline-primary" for="action">Action</label>
    <input type="checkbox" class="btn-check" id="adventure" name="genre" value="Adventure" />
    <label class="btn btn-outline-primary" for="adventure">Adventure</label>
    <input type="checkbox" class="btn-check" id="awardwinning" name="genre" value="Award Winning" />
    <label class="btn btn-outline-primary" for="awardwinning">Award Winning</label>
    <input type="checkbox" class="btn-check" id="boyslove" name="genre" value="Boys Love" />
    <label class="btn btn-outline-primary" for="boyslove">Boys Love</label>
  </section><br>
  <section class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="comedy" name="genre" value="Comedy" />
    <label class="btn btn-outline-primary" for="comedy">Comedy</label>
    <input type="checkbox" class="btn-check" id="drama" name="genre" value="Drama" />
    <label class="btn btn-outline-primary" for="drama">Drama</label>
    <input type="checkbox" class="btn-check" id="fantasy" name="genre" value="Fantasy" />
    <label class="btn btn-outline-primary" for="fantasy">Fantasy</label>
    <input type="checkbox" class="btn-check" id="girlslove" name="genre" value="Girls Love" />
    <label class="btn btn-outline-primary" for="girlslove">Girls Love</label>
  </section><br>
  <section class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="gourmet" name="genre" value="Gourmet" />
    <label class="btn btn-outline-primary" for="gourmet">Gourmet</label>
    <input type="checkbox" class="btn-check" id="horror" name="genre" value="Horror" />
    <label class="btn btn-outline-primary" for="horror">Horror</label>
    <input type="checkbox" class="btn-check" id="mystery" name="genre" value="Mystery" />
    <label class="btn btn-outline-primary" for="mystery">Mystery</label>
    <input type="checkbox" class="btn-check" id="romance" name="genre" value="Romance" />
    <label class="btn btn-outline-primary" for="romance">Romance</label>
  </section><br>
  <section class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="Sci-Fi" name="genre" value="Sci-Fi" />
    <label class="btn btn-outline-primary" for="Sci-Fi">Sci-Fi</label>
    <input type="checkbox" class="btn-check" id="sliceoflife" name="genre" value="Slice of Life" />
    <label class="btn btn-outline-primary" for="sliceoflife">Slice of Life</label>
    <input type="checkbox" class="btn-check" id="sports" name="genre" value="Sports" />
    <label class="btn btn-outline-primary" for="sports">Sports</label>
    <input type="checkbox" class="btn-check" id="supernatural" name="genre" value="Supernatural" />
    <label class="btn btn-outline-primary" for="supernatural">Supernatural</label>
  </section><br>
  <section class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="suspense" name="genre" value="Suspense" />
    <label class="btn btn-outline-primary" for="suspense">Suspense</label>
  </section>
  <section>
    <label for="description">Description:</label><br />
    <textarea name="description" id="description" cols="75" rows="15" placeholder="<%= manga.description %>" required="true"><%= manga.description %></textarea><br />
  </section>
  <div>
    <label  for="completion">Is the series finished?</label>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="completion" id="btnradio2" value="false" autocomplete="off" checked>
      <label class="btn btn-outline-secondary" for="btnradio2">No</label>

      <input type="radio" class="btn-check" name="completion" id="btnradio1" value="true" autocomplete="off">
      <label class="btn btn-outline-secondary" for="btnradio1">Yes</label>
    </div>
  </div>
  <div>
    <button class="btn btn-outline-success">Submit</button>
    <a class="btn btn-outline-danger" href="/mangas">Cancel</a>
  </div>
</form>
<button onClick="JavaScript:hello()">Click Me</button>

<%- include('../partials/footer'); %>
